@media (max-width:1024px){
    #back1{
        width: 100%;
    }
}

@media (max-width:768px) {
    #back1{
        width: 100%;
    }

    body .nav-block{
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width:540px){
    #back1{
        width: 100%;
    }
}